.Landing {
    display: flex;
    justify-content: center;
    height: calc(100vh - 85px);
    background-color: #303030;
}

.landing-content {
    /* margin-top: 150px; */
    position: relative;
    top: 25vh;
    text-transform: uppercase;
    color: #f2f2f2;
    text-align: center;
}

h1 {
    font-weight: 900;
    letter-spacing: 10px;
    font-size: 3em;
    margin-bottom: 20px;
}

h3 {
    font-size: 1em;
}

.action-links {
    color: #f2f2f2;
}
