.Navbar {
    background-color: #212121;
    height: 85px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

.Navbar h1 {
    font-family: 'Pacifico', cursive;
    font-size: 60px;
    letter-spacing: 7px;
    margin: 0;
    color: #80cbc4;
    line-height: 85px;
}

@media screen and (max-width: 750px) {
    .Navbar h1 {
        font-size: 40px;
    }
}

.Navbar .links {
    position: absolute;
    margin-right: 20px;
    right: 0;
}

.navLinks,
.links button,
.menuIcon {
    color: #f2f2f2;
}

.navLinks {
    padding-left: 10px;
}

a {
    color: black;
    text-decoration: none;
}
